<a href="https://colab.research.google.com/github/angelo-chu/python/blob/main/MAX_kline_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import requests
import pandas as pd

In [30]:
API_URL = "https://max-api.maicoin.com/api/v2/k"  # Replace with actual API URL
market = "btcusdt"  # Specify the market (e.g., "ethusdt")
period = 10080  # Set period to 4320 for 1 month
timestamp = 1661798400  # Converted Unix epoch for September 1st, 2022

# Build the query string with parameters
params = {
    "market": market,
    "period": period,
    "timestamp": timestamp,
}

In [31]:
response = requests.get(API_URL, params=params)

In [32]:
if response.status_code == 200:
  # Request successful
  data = pd.DataFrame(response.json())
  print(data)
  # Process the data (array of timestamps, open, high, low, close, volume)
else:
  print(f"Error: API request failed with status code {response.status_code}")

             0         1         2         3         4         5
0   1662336000  19996.77  21827.15  18500.00  21809.79  403.5267
1   1662940800  21812.93  22750.00  19349.04  19408.14  399.6599
2   1663545600  19408.13  19900.00  18205.00  18796.79  433.0227
3   1664150400  18798.64  20362.51  18481.88  19052.59  455.5259
4   1664755200  19056.62  20450.00  18966.93  19437.58  323.3910
5   1665360000  19435.48  19945.57  18207.95  19263.14  277.4940
6   1665964800  19259.68  19688.00  18700.00  19553.75  203.3206
7   1666569600  19556.97  21017.58  19187.14  20629.52  304.4077
8   1667174400  20621.23  21452.00  20065.95  20897.12  245.6207
9   1667779200  20897.14  21055.00  15604.93  16350.00  863.0645
10  1668384000  16340.59  17150.00  15840.00  16273.47  304.2034
11  1668988800  16273.47  16776.49  15515.00  16426.59  198.7419
12  1669593600  16420.06  17249.99  16017.58  17119.66  173.8182
13  1670198400  17110.80  17392.96  16708.80  17090.93  119.0052
14  1670803200  17090.93  18340.86  16550.01  16754.46  161.4813
15  1671408000  16759.80  17033.22  16367.19  16815.56   99.1551
16  1672012800  16817.81  16967.99  16352.01  16602.24  122.5086
17  1672617600  16602.24  17111.00  16503.89  17111.00  113.4756
18  1673222400  17111.00  21200.00  17090.17  20854.93  384.4018
19  1673827200  20854.93  23303.79  20600.00  22699.06  473.7248
20  1674432000  22699.06  23924.99  22307.48  23800.00  443.5813
21  1675036800  23800.00  24168.38  22555.51  22942.99  368.2936
22  1675641600  22942.99  23399.00  21500.00  21782.22  248.0981
23  1676246400  21778.51  25100.00  21400.00  24278.87  338.8302
24  1676851200  24290.82  25200.00  22833.32  23558.92  337.1805
25  1677456000  23560.73  23974.99  22050.00  22418.51  197.8829
26  1678060800  22418.51  24351.64  19585.98  21980.70  323.5499
27  1678665600  21980.70  28360.92  20057.00  27945.13  872.4259
28  1679270400  27947.22  28695.95  26631.72  27971.43  640.0803
29  1679875200  27964.76  29130.00  26666.00  28175.00  529.2404

In [33]:
#convert unix epoch to date and time of UTC + 8

from datetime import datetime, timezone, timedelta

In [34]:
def unix_to_utc8(timestamp):
  """Converts a Unix timestamp to a UTC+8 datetime object."""
  # Convert timestamp to datetime object in UTC
  dt = datetime.utcfromtimestamp(timestamp)
  # Convert to UTC+8 timezone
  return dt + timedelta(hours=8)

In [35]:
# Assuming your DataFrame is called 'data' with a column named 'timestamp'
data['datetime_utc8'] = data[0].apply(unix_to_utc8)

In [36]:
data

,0,1,2,3,4,5,datetime_utc8
0,1662336000,19996.77,21827.15,18500.00,21809.79,403.5267,2022-09-05 08:00:00
1,1662940800,21812.93,22750.00,19349.04,19408.14,399.6599,2022-09-12 08:00:00
2,1663545600,19408.13,19900.00,18205.00,18796.79,433.0227,2022-09-19 08:00:00
3,1664150400,18798.64,20362.51,18481.88,19052.59,455.5259,2022-09-26 08:00:00
4,1664755200,19056.62,20450.00,18966.93,19437.58,323.3910,2022-10-03 08:00:00
5,1665360000,19435.48,19945.57,18207.95,19263.14,277.4940,2022-10-10 08:00:00
6,1665964800,19259.68,19688.00,18700.00,19553.75,203.3206,2022-10-17 08:00:00
7,1666569600,19556.97,21017.58,19187.14,20629.52,304.4077,2022-10-24 08:00:00
8,1667174400,20621.23,21452.00,20065.95,20897.12,245.6207,2022-10-31 08:00:00
9,1667779200,20897.14,21055.00,15604.93,16350.00,863.0645,2022-11-07 08:00:00
10,1668384000,16340.59,17150.00,15840.00,16273.47,304.2034,2022-11-14 08:00:00
11,1668988800,16273.47,16776.49,15515.00,16426.59,198.7419,2022-11-21 08:00:00
12,1669593600,16420.06,17249.99,16017.58,17119.66,173.8182,2022-11-28 08:00:00
13,1670198400,17110.80,17392.96,16708.80,17090.93,119.0052,2022-12-05 08:00:00
14,1670803200,17090.93,18340.86,16550.01,16754.46,161.4813,2022-12-12 08:00:00
15,1671408000,16759.80,17033.22,16367.19,16815.56,99.1551,2022-12-19 08:00:00
16,1672012800,16817.81,16967.99,16352.01,16602.24,122.5086,2022-12-26 08:00:00
17,1672617600,16602.24,17111.00,16503.89,17111.00,113.4756,2023-01-02 08:00:00
18,1673222400,17111.00,21200.00,17090.17,20854.93,384.4018,2023-01-09 08:00:00
19,1673827200,20854.93,23303.79,20600.00,22699.06,473.7248,2023-01-16 08:00:00
20,1674432000,22699.06,23924.99,22307.48,23800.00,443.5813,2023-01-23 08:00:00
21,1675036800,23800.00,24168.38,22555.51,22942.99,368.2936,2023-01-30 08:00:00
22,1675641600,22942.99,23399.00,21500.00,21782.22,248.0981,2023-02-06 08:00:00
23,1676246400,21778.51,25100.00,21400.00,24278.87,338.8302,2023-02-13 08:00:00
24,1676851200,24290.82,25200.00,22833.32,23558.92,337.1805,2023-02-20 08:00:00
25,1677456000,23560.73,23974.99,22050.00,22418.51,197.8829,2023-02-27 08:00:00
26,1678060800,22418.51,24351.64,19585.98,21980.70,323.5499,2023-03-06 08:00:00
27,1678665600,21980.70,28360.92,20057.00,27945.13,872.4259,2023-03-13 08:00:00
28,1679270400,27947.22,28695.95,26631.72,27971.43,640.0803,2023-03-20 08:00:00
29,1679875200,27964.76,29130.00,26666.00,28175.00,529.2404,2023-03-27 08:00:00